.container{
    height: 40px;
    background-color: black;
    text-align: center;
    font-family:cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    margin-bottom: 40px;
}

.paragraph{
    padding-top: 10px;
    margin-left: 20%;
}